*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
figure,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}

.contact-form-container {
    display: flex;
    flex-direction:column;

}
.contact-form-container>label>input{
    margin: 2em 0 0 0;

}
