*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-container {
  max-width: 70em;
  margin: 0 auto;
  padding: 1em; /*maybe change this*/
}

body,
figure,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Helvetica', Helvetica, Arial, sans-serif;
}
/* this element allows you to hide text visually, but not from a screen reader */
.accessible_elem {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}



/* Nav Bar */
.navbar {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 30em) {
  .navbar {
    flex-direction: row;
  }
}

.navbar__brand { }

.navbar__logo {
  width: 5em;
  height: 5em;
}


.navbar__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar__item {
  padding: 0 2em 0 2em;
}

.navbar__linkItem {
  text-decoration: none;
}
.grid {

}

.grid__item {
  padding-bottom: 1em;
}

@media screen and (min-width: 40em) {
  .grid {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1em;
  }
  .grid__item {
    flex: 1 0 50%;
    padding-left: 1em;
  }
}

@media screen and (min-width: 60em) {
  .grid {
    margin-left: -3em;
  }
  .grid__item {
    flex-basis: 25%;
    padding-left: 3em;
  }
}

.media__img {
  width: 100%;
  margin-bottom: 1em;
}

.media__img--round {
  border-radius: 50%;
}

.media__caption {
  text-align: center;
}

@media screen and (min-width: 40em){
  .media--row {
    display: flex;
    align-items: center;
  }

  .media__img--row {
    width: 40%;
    margin-right: 3em;
  }
}
